/* logo image */
.logo-content {display: flex; flex-wrap: nowrap; align-items: center;}

/* profil */
.profil {min-width: 8rem; max-width: 8rem;}

/* button */
#menu-btn {cursor: pointer;}
#menu-btn, #navbar-login,
#navbar-logout {display: none;}

/* login display */
#profil-image {
    /* display: none; */
    border-radius: 50%;
    padding: 0.5rem;
}
.icons, #profil-image {
    display: none;
    font-size: 2.5rem;
}

.of {
    display: none;
}

@media (max-width:768px) {
    html {font-size: 60%;}
    .icons,
    #menu-btn,
    #navbar-login,
    #navbar-logout {
        display: flex;
    }
    .of {display: flex !important;}
    #profil-login {display: none !important;}
    #profil-login,
    #profil-image {
        /* display: none !important; */
        margin-right: 0;
        position: absolute; right: 12%;
        transform: translateY(-50%);

        /* border: 1px solid; */
    }
}